__pycache__

# Distribution / packaging
build/
dist/
*.egg-info/

# binaries
*.so

# tmp files
*.swp

# AML workspace config file
*config.json

errors/
outputs/

.python-version

# for dataset
dataset/*Dataset*

# for wandb
wandb/

# check point
checkpoints/

# gpt-fugaku
dataset/wikipedia
samples.json
